.roof{
    background: #fff;
    height: 88px;
    width: 100%;
}
.roof .roof_x{
    position: relative;
    top: 20px;
}
.roof .roof_l{
    width: 400px;
    height: 47px;
    float: left;
}
.roof .roof_l img{
    width: 126px;
    height: 47px;
}
.roof .roof_l span{
    width: 1px;
    height: 47px;
    display: inline-block;
    background: rgba(0,0,0,0.2);
    margin:0 20px;
}
.roof .roof_l a{
    display: inline-block;
    font-size: 24px;
    position: relative;
    top: -15px;
}
.roof .roof_r{
    float: right;
    margin-top: 2px;
}
.roof .roof_r a{
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.roof .roof_r a:hover{
    color: red;
    text-decoration: underline;
    border: 1px solid blue;
}
.con{
    height: 580px;
    background: rgba(0, 0, 0, 0.2);
}
.con .con_x{
    height: 495px;
    position: relative;
    top: 40px;
    background-color: white;
}
.con .con_x .div {
    width: 1000px;
    height: 350px;
    position: relative;
    top: 50px;
    left: 50px;
}
.con .con_x .div div{
    position: relative;
}
.con .con_x .div .div1{

}
.con .con_x .div div{
    width: 380px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.con .con_x .div .div1 .reg_email{
    display: block;
    width: 45px;
    height: 27px;
    border-right: 1px solid #e3e3e3;
    background: url(//sdui.damai.cn/damai_v2/login_register3.0/images/icon_bg.png) no-repeat 10px 0;
    float: left;
    *float: none;
    margin-top: 10px;
}
.con .con_x .div .div1 h3{

}
.con .con_x .div .div1 h3 .m_china {
    width: 30px;
    height: 20px;
    background: url(//sdui.damai.cn/damai_v2/login_register3.0/images/jack_pic.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e3e3e3;
    float: left;
    margin: 12px 5px 0 10px;
}
.con .con_x .div .div1 h3 .fr{
    float: left;
    margin: 12px 30px 0 10px;
}
.con .con_x .div .div2 .reg_password,.con .con_x .div .div3 .reg_password{
    display: block;
    *display: inline-block;
    width: 45px;
    height: 27px;
    border-right: 1px solid #e3e3e3;
    background: url(//sdui.damai.cn/damai_v2/login_register3.0/images/icon_bg.png) no-repeat 10px -29px;
    float: left;
    margin-top: 10px;
    *float: none;

}
.con .con_x .div .div1 input,.con .con_x .div .div2 input,.con .con_x .div .div3 input{
    display: block;
    *display: inline-block;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    border: none;
    padding: 0 10px;
    margin-top: 10px;
    color: #c3c3c3;
    outline: none;
    float: left;
    *float: none;
    overflow: hidden;
    border-left: 1px solid;
}
.con .con_x .div .div4 .reg_check {
    display: block;
    *display: inline-block;
    width: 45px;
    height: 27px;
    border-right: 1px solid #e3e3e3;
    background: url(//sdui.damai.cn/damai_v2/login_register3.0/images/icon_bg.png) no-repeat 10px -59px;
    float: left;
    *float: none;
    margin-top: 10px;

}

.con .con_x .div .div5 .reg_mess{
    display: block;
    *display: inline-block;
    width: 45px;
    height: 27px;
    border-right: 1px solid #e3e3e3;
    background: url(//sdui.damai.cn/damai_v2/login_register3.0/images/icon_bg.png) no-repeat 10px -89px;
    float: left;
    *float: none;
    margin-top: 10px;
}
.con .con_x .div .div5{
    float: left;
    width: 250px;

}
.con .con_x .div .login_btn3{
    display: block;
    width: 118px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-family: Microsoft YaHei;
    border: 1px solid #e3e3e3;
    float: left;
    margin: 10px;

}
.con .con_x .div .login_btn3:hover{
    color: red;
}
.con .con_x .div .div5 input {
    display: block;
    *display: inline-block;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    border: none;
    *border: 0;
    padding: 0 10px;
    margin-top: 10px;
    color: #c3c3c3;
    outline: none;
    float: left;
    *float: none;
    overflow: hidden;

}

.con .con_x .div .login_btn{
    clear: both;
    display: block;
    width: 380px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: Microsoft YaHei;
    background-color: #f2546b;
    border: none;
    cursor: pointer;
    position: relative;
    top: 10px;


}
.con .con_x .div s{
    width: 400px;
    height: 45px;
    float: right;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: -500px;
    font-size: 12px;
    line-height: 45px;
    display: none;
}
.con .con_x .div .div5 s{
    position: absolute;
    right: -630px;
}


.di{
    height: 155px;
}
.di .links{
    text-align: center!important;
    margin: 15px 0;
}
.di .links span{
    display: inline-block;
    margin: 0 10px;
    color: #ccc;
}
.di .links a:hover{
    color: red;
    text-decoration: underline;
}
.di .buttom{
    text-align: center;
    margin-top: 10px;
}
.di .buttom span{
    display: inline-block;
    margin: 0 20px;
    color: #cccccc;
}
.di .buttom a:hover{
    color: red;
    text-decoration: underline;
}
.di .di_tu{
    text-align: center;
}
.di .di_tu img{
    margin: 10px 28px;
    cursor: pointer;
}